<% layout('layouts/boilerplate') %> 
    <div id="map" style="width: 100%;height: 500px;"></div>
    <h1>All Coffee Shops</h1>
    <div>
        <a href="/coffeeShops/new">Add a Shop</a>
    </div>

    
        <%  for (let coffee of coffeeShops){ %> 
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-4">
                    <% if(coffee.images.length) {%> 
                    <img class="img-fluid" src="<%=coffee.images[0].url%> " alt="">
                    <% }else {%>
                        
                    <% } %> 
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= coffee.title %> </h5>
                        <p class="card-text"><%= coffee.description %> </p>
                        <p class="card-text">
                            <small class="text-muted"><%= coffee.location %></small> 
                        </p>
                        <a class="btn btn-primary" href="/coffeeShops/<%=coffee._id%> ">View <%=coffee.title %>  </a>

                    </div>
                </div>
            </div>
        </div>
        <% } %> 
<script>
const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
const coffeeShops = {features: <%-JSON.stringify(coffeeShops)%>}
</script>
    
<script src="/javascripts/clusterMap.js"></script>