<% layout('layouts/boilerplate') %> 

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%=coffee.image%>" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title"><%= coffee.title %></h5>
                <p class="card-text"><%= coffee.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= coffee.location%></li>
                <li class="list-group-item">Average Coffee Price: $<%= coffee.price%></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info"href="/coffeeShops/<%=coffee._id%>/edit">Edit</a>
                <form class="d-inline"action="/coffeeShops/<%=coffee._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                    </form>
            </div>
           
      </div>
      
    </div>
</div>
   