<% layout('layouts/boilerplate') %> 

<div class="row">
    <div class="col-6 ">
        <div class="card mb-3">
            <img src="<%=coffee.image%>" class="card-img-top" >
            <div class="card-body">
                <h5 class="card-title"><%= coffee.title %></h5>
                <p class="card-text"><%= coffee.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= coffee.location%></li>
                <li class="list-group-item">Average Coffee Price: $<%= coffee.price%></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info"href="/coffeeShops/<%=coffee._id%>/edit">Edit</a>
                <form class="d-inline"action="/coffeeShops/<%=coffee._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                    </form>
            </div>
           
      </div>
    
    </div>
    <div class="col-6">
        <h2>Leave a Review</h2>
        <form action="/coffeeShops/<%=coffee._id%>/reviews " method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input  class="form-range"type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label"for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <%for(let review of coffee.reviews){%>
      <div class="card mb-3">
        <div class="card-body">
           <h5 class="card-title">Rating:<%= review.rating%> </h5>
           <p card-text><%= review.body %> </p>
           <form action="/coffeeShops/<%= coffee._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">delete</button>
            </form>
           
        </div>
      </div>
        <% } %> 
    </div>
</div>
   